Question 1: Write a program to accept percentage and display grade accordingly?

In [18]:
Percentage = float(input("Please enter the percentage of marks Scored"))
if Percentage>90:
    print("Congrats you Secured A grade")
elif (Percentage>80 and Percentage<=90):
    print("Congrats you Secured B grade")
elif (Percentage>=60 and Percentage<=80):
    print("Congrats you Secured C grade")
else:
    print("Congrats you Secured D grade")

Please enter the percentage of marks Scored 59.99999

Congrats you Secured D grade

Question 2: Write a program to accept cost price of the bike and display the road tax to be paid?

In [19]:
Costprice = float(input("Please Enter the cost price of the bike"))
if Costprice>100000:
    print("Tax rate is 15% and you have to pay tax of ",round(Costprice*0.15,2)," Rupees.")
elif (Costprice>50000 and Costprice<=100000):
    print("Tax rate is 10% and you have to pay tax of ",round(Costprice*0.10,2)," Rupees.")
else:
    print("Tax rate is 5% and you have to pay tax of ",round(Costprice*0.05,2)," Rupees.")

Please Enter the cost price of the bike 49000

Tax rate is 5% and you have to pay tax of  2450.0  Rupees.

Question 3: Accept any city from the user and display monuments of the city?

In [20]:
City = input("Please enter the city to find the monument")
if City.upper()=="DELHI":
    print("Delhi city has the monument Red Fort ")
elif City.upper()=="AGRA":
    print("Agra city has the monument Taj Mahal ")
elif City.upper()=="JAIPUR":
    print("Jaipur city has the monument Jal Mahal ")
else:
    print("Please enter a valid city")

Please enter the city to find the monument jaipur

Jaipur city has the monument Jal Mahal

Question 4: How many times a given number can be divided by 3 before it is less than or equal to 10?

In [22]:
number = int(input("Please enter the number"))
count = 0
while number > 10:
    if number%3 == 0:
        number/=3
        count+=1
    else:
        break
print(count)

Please enter the number 108

3

Question 5: why and when to use while loop with example?

In [12]:
""" Python while loop is used to run a block code until a certain condition is met 
 and we dont know how many times it need to iterate
 """
# initialize the variable
i = 1
n = 5
# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1
""" Here the loop executes till the value of i is less than or equal to 5 once the value of i crosses 5 loop will stop """

1
2
3
4
5

' Here the loop executes till the value of i is less than or equal to 5 once the value of i crosses 5 loop will stop '

Question 6: use nested while loop to print 3 different pattern?

In [1]:
n = int(input('Enter number of rows : '))
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [2]:
n = int(input('Enter number of rows : '))
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
def pattern(n):
   i = 1
   while i<=n:
      # printing stars
      print(" "*(n-i) + "*" * i)
      i+=1 
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows:  10

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

Question 7: Reverse a while loop to display from 10 to 1

In [8]:
i = 10
while i > 0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

Question 8: Reverse a while loop to display from 10 to 1

In [9]:
i = 10
while i > 0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1